*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Image/banner1.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ff1fb0;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.click-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
}

.click-btn:hover{
    border: 1px solid #ff1fb0;
    background: #ff1fb0;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width : 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #ff1fb0;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

.member{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #f37f7f;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

/*degree*/
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.member-col{
    flex-basis: 31%;
    background: #fff3ff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.member-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media (max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*club*/

.club{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.club-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.club-col img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(253, 14, 14, 0.897);
    opacity: 0.7;
}



/*training*/

.training{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.training-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.training-col img{
    width: 100%;
    border-radius: 10px;
}

.training-col p{
    padding: 0
}
.training-col h3{
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: left;
}

/*reviews*/

.reviews{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.testmonial-col{
    flex-basis: 40%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #f8c7f8;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testmonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testmonial-col p{
    padding: 0;
}

.testmonial-col h3{
    margin-top: 15px;
    text-align: left;
}

.testmonial-col .fa{
    color: orangered;
}

@media(mix-width:700px){
    .testmonial-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}


/*footer*/

.footer{
    width: 100%;
    text-align: center;
    pad: 600;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fab{
    color: #ff1fb0;
    margin: 0 10px;
    border:2px solid black;
    border-radius: 40%;
    cursor: pointer;
    padding: 10px ;
}

.fa-heart-o{
    color: #ff1fb0;
}

@media (max-width: 700px) {
    .icons .fab {
      margin: 0 5px;          
      border: 1px solid black; 
      border-radius: 50%;     
      padding: 8px;           
      font-size: 1.2rem;       
    }

    .fa-heart-o {
      font-size: 1.5rem;      
    }
  }

  /*about page*/

  .sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Image/blog.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
  }

  .sub-header h1{
    margin-top: 100px;
  }

  .about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .about-col{
    flex-basis: 48%;
    padding: 30px 2px;
  }

  .about-col img{
    width: 100%;
  }

  .about-col h1{
    padding-top: 0;
  }

  .about-col p{
    padding: 15px 0 25px;
  }

  .red-btn{
    border: 1px solid #ff1fb0;
    background: transparent;
    color: #ff1fb0;
  }

  .red-btn:hover{
    color: #fff;
  }


/*blog*/

  .blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
  }

  .blog-left{
    flex-basis: 65%;
  }

  .blog-left img{
    width: 100%;
  }

  .blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
  }

  .blog-left p{
    color: #999;
    padding: 0;
  }

  .blog-right{
    flex-basis: 32%;
  }

  .blog-right h3{
    background: #ff1fb0;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
  }

  .comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
    }

    .comment-box h3{
        text-align: left;
    }

    .comment-form input, .comment-form textarea{
        width: 100%;
        padding: 10px;
        margin: 15px 0;
        box-sizing: border-box;
        border: none;
        outline: none;
        background: #f0f0f0;
    }

    .comment-form button{
        margin: 10px 0;
    }

    @media(max-width:700px){
        .sub-header h1{
            font-size: 24px;
        }
    }

/*contact*/

    .location{
        width: 80%;
        margin: auto;
        padding: 80px 0;
    }

    .location iframe{
        width: 100%;
    }

    .contact-us{
        width: 80%;
        margin: auto;
    }

    .contact-col{
        flex-basis: 48%;
        margin-bottom: 30px;
    }

    .contact-col div{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

    .contact-col div .fa{
        font-size: 28px;
        color: #ff1fb0;
        margin: 10px;
        margin-right: 30px;
    }

    .contact-col div p{
        padding: 0;
    }

    .contact-col div h5{
        font-size: 20px;
        margin-bottom: 5px;
        color: #000000;
        font-weight: 400;
    }

    .contact-col div p{
        color: #555;
    }

    .contact-col input, .contact-col textarea{
        width: 100%;
        padding: 15px;
        margin-bottom: 17px;
        outline: none;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
